body * {
  font-family: 'Source Sans Pro', sans-serif;
}

h1 {
  color: rgb(0, 0, 0); 
  font-weight: bold; 
  font-size: 3em; 
  font-family: 'Mulish', sans-serif; 
  text-align: center;
  margin-top: 60px;
  margin-bottom: 60px; 
  
}

h2 {
  font-weight: 700; 
  color: rgb(0, 0, 0);
  margin-top: 20px; 
}

body {
  background-color: #4f2525; 
  margin: 0; 
}

.container {
  border: 150px solid #4f2525; 
  border-radius: 200px; 
  padding: 20px; 
  background-color: #F5E9D9; 
  margin: 20px; 
}


.main_divider {
  background-color: #4f2525;
  width: 100%;
  padding: 10px; 
}

.main_divider h2 {
  font-weight: 750;
  color: #F5E9D9;
}

.sub_divider {
  background-color: rgb(0, 0, 0);
  width: 100%;
  padding: 20px; 
}

.sub_divider h1 {
  font-weight: 800;
  color: #F5E9D9;
  text-align: center;
}

.main_bottom {
  background-color: rgb(0, 0, 0);
  width: 100%;
  padding: 20px; 
}

.vis-container {
  width: 100%;
}

.divider {
  background-color: #F5E9D9;
  width: 100%;
}

.description h2,
.description h1 {
  margin-top: 0px;
  text-align: center;
}

.main_random h1 {
  font-weight: 900;
  color: rgb(0, 0, 0);
}

.description-right {
  padding-left: 20px;
}

.description-left {
  padding-right: 20px;
  text-align: center;
}

.pure-g {
  margin: 10px; 
}

.small-font {
  font-size: 14px;
}

.vis-container {
  width: 100%;
  height: 400px; 
  margin-bottom: 20px; 
}


